body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
}
button {
  color: #f9f9f9;
}


@media (prefers-color-scheme: light) {

  a:hover {
    color: #f9f9f9;
  }
  button {
    background-color: #f9f9f9;
  }
}
